html {
    background-color: #dae0e6;
}

body {
    overflow-x: hidden;
}

.FAQ-loggedIn{
    text-align: center;
    width: 100vw;
    line-height: .75em;
}

.FAQ-filter-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.FAQ-title {
    color: white;
}

.FAQ-filter-wrapper div {
    background-color: var(--primary-color);
    padding: 2.5vh 13.5vw;
    /*border-radius: 10px;*/
    box-shadow: 10px 10px 9px 0px rgba(120, 120, 120, 1);
    margin: 3vh 0;
}

.FAQ-filter-wrapper div input {
    width: 100%;
    height: 5vh;
    margin-top: 1vh;
    /*border-radius: 4px;*/
    color: var(--text);
    font-size: 2vh;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid var(--text);

    background-color: var(--background);

    transition: 0.5s;
    padding: 0 1vw;
}

.search-icon {
    /*width: 2vh;*/
    height: 2.5vh;
    float: right;
    transform: translateY(-3.7vh);
    margin-right: 1vw;
}

.FAQ-filter-wrapper div input:hover {
    background-color: rgb(200, 200, 200);
    scale: 1.01;
}

.FAQ-filter-wrapper div input:active {
    background-color: var(--primary-color);
    scale: 1.01;
}
textarea {
    width: 100%;
    height: 20vh;
    /*border-radius: 10px;*/
    border: 1px solid var(--text);
    background-color: var(--background);
    color: var(--text);
    font-size: 2vh;
    font-weight: bold;
    padding: 1vh 1vw;
    resize: none;

    margin-top: 1vh;
}

select {
    width: 100%;
    height: 5vh;
    /*border-radius: 10px;*/
    border: 1px solid var(--text);
    background-color: var(--background);
    color: var(--text);
    font-size: 2vh;
    font-weight: bold;
    padding: 1vh 1vw;
    resize: none;

    margin-top: 1vh;
}

.FAQ-create-BTN{
    float: right;
    color: blue;
    margin-top: 0.5vh;
}

.FAQ-header{
    width: 20%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 90vw;
    display: flex;
    justify-content: space-around;
    height: auto;
    flex-wrap: wrap;
    margin: 0 auto
}

/* .FAQ-category-wrapper-BTN{
    width: 15vw;
    height: 25vh;
    background-color: rgba(140, 140, 140, 0.25);
    display: inline-block;
    margin: 2vh 0;
    border-radius: 10px;
    box-shadow: 10px 10px 9px 0px rgba(120, 120, 120, 1);
    cursor: pointer;
    transition: 0.5s;
    padding: 1vh 1vw;
}

.FAQ-category-wrapper-BTN:hover{
    background-color: rgb(200, 200, 200);
    box-shadow: 15px 15px 9px 0px rgba(150, 150, 150, 1);
    scale: 1.01;
/*}*/

.FAQ-vraag-vraag{
    -webkit-line-clamp: 1;
}

.FAQ-vraag-antwoord{
    -webkit-line-clamp: 1;
}

.FAQ-vraag-antwoord, .FAQ-vraag-vraag{
    display: -webkit-box;

    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
/*
.FAQ-vraag-wrapper{
    width: 15vw;
    height: 25vh;
    background-color: red;
    display: inline-block;
} */

.FAQ-vraag-views-icon{
    /*width: 2vh;*/
    height: 1em
    /*margin-right: 0.5vw;*/
}

.FAQ-category-wrapper-BTN {
    width: 100%;
    height: auto;
    background-color: #fff;
    /*border-radius: 0;*/
    box-shadow: none;
    cursor: pointer;
    transition: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #898989;
    border-bottom: 0;
    text-decoration: none;
}

.FAQ-category-wrapper-first {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.FAQ-category-wrapper-BTN:hover{
    border-bottom: #898989 1px solid;
    background-color: #e8e8e8;
    box-shadow: 15px 15px 9px 0px rgba(150, 150, 150, 1);
    scale: 1.01;
}

.FAQ-vraag-vraag,
.FAQ-vraag-antwoord {
    -webkit-line-clamp: 1;
    /*display: block;*/
    padding: 0;
}

.FAQ-vraag-main-wrapper {
    padding: 20px;
}

.FAQ-vraag-wrapper {
    width: 100%;
    height: auto;
    background-color: transparent;
    display: block;
}

*{
    border-radius: 0 !important;
}