:root{
    --primary-color: rgb(30, 115, 190);
    --secondary-color: rgb(104, 104, 104) ;
    --call-to-action-color: rgb(140, 222, 8);
    --background: rgb(245, 245, 245);
    --text: rgb(43, 43, 60);
}

html {
    background-color: var(--background);
}