body{
    overflow-x: hidden;
    background-color: var(--background-color);
}

main{
    display: flex;
    justify-content: center;
    height: fit-content;
}

.img{
    height: 1.5vh;
}

.vraag-wrapper{
    width: 50vw;
    min-height: 50vh;
    background-color: rgba(104, 104, 104, 0.25);

    margin-top: 5vh;
    padding: 2.5vh 2.5vw;
    border-radius: 10px;

    margin-bottom: 5vh;

    box-shadow: 10px 10px 9px 0px rgba(120,120,120,1);
}

.back img{
    height: 2.5vh;
    position: absolute;

    margin-left: -1.5vw;
}

.back span{
    position: absolute;
    margin-left: -0.5vw;
    font-size: 2vh;
}

.info-wrapper{
    margin-top: -1vh;

    display: flex;
    justify-content: space-around;
}
